<div>
    <h2 id="page-heading">
        <span>Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-config" [routerLink]="['/config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="configs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Key</span></th>
            <th><span>Description</span></th>
            <th><span>Smart Object</span></th>
            <th><span>Profile Conf Value</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let config of configs ;trackBy: trackId">
                <td><a [routerLink]="['/config', config.id, 'view' ]">{{config.id}}</a></td>
                <td>{{config.key}}</td>
                <td>{{config.description}}</td>
                <td>
                    <div *ngIf="config.smartObjectId">
                        <a [routerLink]="['../smart-object', config.smartObjectId , 'view' ]" >{{config.smartObjectId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="config.profileConfValueId">
                        <a [routerLink]="['../profile-conf-value', config.profileConfValueId , 'view' ]" >{{config.profileConfValueId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/config', config.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/config', config.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'config/'+ config.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
