<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-smart-object-heading">Create or edit a Smart Object</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!smartObject.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="smartObject.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="smartObject.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shared">Shared</label>
                    <input type="checkbox" class="form-control" name="shared" id="field_shared"
                        [(ngModel)]="smartObject.shared" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fabriquant">Fabriquant</label>
                    <input type="text" class="form-control" name="fabriquant" id="field_fabriquant"
                        [(ngModel)]="smartObject.fabriquant" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yearOfFabriquation">Year Of Fabriquation</label>
                    <input type="text" class="form-control" name="yearOfFabriquation" id="field_yearOfFabriquation"
                        [(ngModel)]="smartObject.yearOfFabriquation" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="smartObject.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
