<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="confValue">
            <h2><span>Conf Value</span> {{confValue.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{confValue.value}}</span>
                </dd>
                <dt><span>Config</span></dt>
                <dd>
                    <div *ngIf="confValue.configId">
                        <a [routerLink]="['/config', confValue.configId, 'view']">{{confValue.configId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conf-value', confValue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
